*{
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

.App {
  padding: 1em;
  min-height: 100vh;
  background-color: #353F5B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

